header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    color: #000;
    background-color: peachpuff;
    border-radius: 15px 15px;
}

body {
    min-height: 100%;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: block;
    background-color: rgb(255, 188, 130);
    padding-top: 50px;
    border-radius: 4px;
}

nav ul li ul li:hover {
    background-color: rgb(108, 108, 255);
}


nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav ul ul li a {
    text-transform: capitalize;
    margin-bottom: 100px;
}

nav ul ul li {
    margin: 0;
    padding: 5px 10px;
}

.contact_info {
    margin: 0 20px;
    align-content: end;
    align-self: flex-end;
}

.contact_info a {
    text-decoration: none;
    color: black;
}

nav ul li ul {
    background-color: whitesmoke;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.page {
    margin: auto 100px;
    padding: 0 10px;
    box-shadow: 0 0px 4px black;
    border-radius: 4px;
}

.home p {
    font-size: 20px;
}

footer {
    position:fixed;
    display: flex;
    bottom: 0;
    width: 98%;
    border-radius: 5px;
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5);
    flex-direction: column; 
    padding: 0 30px;
}

footer nav {
    align-self: center;
}

.links a img {
    width: 30px;
    height: 30px;
}

.links a {
    margin-right: 10px;
}

.links {
    margin-right: 20px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer-contact-info p {
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.footer-contact-info {
    display: flex;
    justify-content: flex-end;
}

section {
    margin-bottom: 100px;
}

.avatar img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.avatar {
    display: flex;
    justify-content: start;
}

.comment textarea {
    width: 25%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
    resize: none;
    overflow-y: auto;
}

.comment {
    display: flex;
}

.like-button {
    background-color: lightblue;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}